<a href="https://colab.research.google.com/github/AmadiFord-Trowell/AmadiFord-Trowell/blob/main/Untitled0.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
name = "Manny Fort"
age = 35
height = 6.1

print(name, age, height)

Manny Fort 35 6.1

In [ ]:
count = 12134
count = count / 45
print(count)

269.64444444444445

In [ ]:
Location = "USA"
State = "Washington"
City = "Seattle"
Day = "Friday"
print(Location, State, City, Day)

USA Washington Seattle Friday

In [ ]:
Age = 29
Year = 2024 - Age
print("Age:", Age)
print("Year:", Year)

Age: 29
Year: 1995

In [ ]:
country = "United States"
State = "Washington"
City = "Seattle"
Zip_code = 98108
print(country)
print(State)
print(City)
print(Zip_code)

United States
Washington
Seattle
98108

In [ ]:
filename = "resume.pdf"

new_filename = filename.replace(".pdf", ".docx") #We know the .pdf is be selected and chosen to be replaced because it is first in the script
#since it is first we know thayt specifially is being replaces and not everythin else
print("Old File Format", filename)
print("New File Fromat", new_filename)

Old File Format resume.pdf
New File Fromat resume.docx

In [ ]:
Name = "Manny Fort"
Age = 35
Height = 6.1
new_name = Name.replace("Manny", "Amanda") #How we know Amanda isn't replacing Fort for the last name is because we specified "Manny" so it thas to chanage that
new_Age = Age - 6                  #new_age is th new variable so now age will subtract 6 to print us the new_age
new_Height = Height - 0.4         #new_Height is the new variable so now height will subtract .4 and give us th new height
print(new_name)
print(new_Age)
print(new_Height)

Amanda Fort
29
5.699999999999999

In [3]:
Old_Address = "8919 Ebro Ct"
New_Address = Old_Address.replace("8919 Ebro Ct", "3939 15th Ave S" )
Old_State = "OH"
New_State = Old_State.replace("OH", "WA")
Old_Zipcode = "45219"
New_Zipcode = Old_Zipcode.replace("45219", "98108") #Since I am replacing numbers There needs to be quotes arount New and Old
print(New_Address)
print(New_State)
print(New_Zipcode)

3939 15th Ave S
WA
98108